<footer>
    <section class="container" data-scroll>
        <div class="logo_contact_section">
            <div class="logo_section">
                <a href="index.php" class="rem_link_style"><img src="img/logo.svg" alt="" class="img-responsive"></a>
            </div>
            <div class="">
                <div class="contact_section hidden-xs">
                    <div class="join_input">
                        <p class="join_text">join our list</p>
                    </div>
                    <form class="form_input">
                        <input class="green_btn" type="email" placeholder="email@domian.com" required>
                    </form>
                </div>
                <div class="contact_section">
                    <p class="phone"><a href=""><span><img src="img/green_phone.svg" alt=""
                                    class="contact_icon"></span>+91 76984 30406</a></p>
                    <p class="mail"><a href=""><span><img src="img/mail_arrow.svg" alt=""
                                    class="contact_icon mail_icon"></span>info@advancemusclemass.com</a></p>
                </div>
            </div>
        </div>
        <div class="footer_links_section">
            <div class="links_section">
                <h3 class="link_heading">Sports Nutrition</h3>
                <a href="" class="footer_links">Proteins & Gainers</a>
                <a href="" class="footer_links">Amino Acids</a>
                <a href="" class="footer_links">Performance</a>
                <a href="" class="footer_links">Weight Management</a>
                <a href="" class="footer_links">Accessories</a>
            </div>
            <div class="links_section">
                <h3 class="link_heading">connect</h3>
                <a href="" class="footer_links">Our Story</a>
                <a href="" class="footer_links">FAQ's</a>
                <a href="" class="footer_links">Contact Us</a>
                <a href="" class="footer_links">Careers</a>
            </div>
            <div class="links_section">
                <h3 class="link_heading">explore</h3>
                <a href="" class="footer_links">Blogs</a>
                <a href="" class="footer_links">Recipes</a>
            </div>
            <div class="links_section">
                <h3 class="link_heading">customer service</h3>
                <a href="" class="footer_links">Shipping and Returns</a>
                <a href="" class="footer_links">Terms and Conditions</a>
                <a href="" class="footer_links">Privacy Policy</a>
                <a href="" class="footer_links">Partner with Us</a>
                <a href="" class="footer_links">Find a Dealer</a>
            </div>
            <div class="links_section">
                <h3 class="link_heading">account</h3>
                <a href="" class="footer_links">Login</a>
                <a href="" class="footer_links">Register</a>
            </div>
            <div class="links_section hidden-md">
                <div class="contact_section hidden-md">
                    <div class="join_input">
                        <p class="join_text">join our list</p>
                    </div>
                    <form>
                        <input class="green_btn" type="email" placeholder="email@domian.com" required>
                    </form>
                </div>
            </div>
        </div>
        <div class="disclaimer">
            <div class="follow">
                <p class="reserved_text">@Advancemusclemass 2021. All rights reserved.</p>
                <div class="follow_links hidden-xs">
                    <p>follow us on</p>
                    <a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                    <a href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="disclaimer_text">
                <ol>
                    <li>These statements have not been evaluated by the food and drug administration. This product is
                        not intended to diagnose, treat, cure or prevent any disease, treat, cure or prevent any
                        disease.</li>
                    <li>Gives results when used over time in combination with regular resistance exercise.</li>
                    <li>Not to exceed the stated recommended daily dose, pregnant, nursing and lactating women,
                        adolescents and elderly should consult physician, Keep away from children.</li>
                    <li>Drink plenty of water when consuming the products. </li>
                </ol>
            </div>
        </div>
        <div class="end_footer">
            <div class="follow_links hidden-md">
                <p>follow us on</p>
                <a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                <a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                <a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                <a href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="made_by_ting_sec">
                <a href="https://www.ting.in/" target="_blank" class="rem_link_style">
                    <div class="foot-right ting-unit-wrap">
                        <div class="made-by-text">
                            <p>made</p>
                            <p>by</p>
                        </div>
                        <img src="img/ting-footer-img.png" class="img-responsive">
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- <div class="container footer_inner">
        <div class="copyright_text">
            <p>Copyright &copy; <span class="current_year"></span> Aqua Pro</p>
        </div>
        <div class="social_links">
            <p class="social_icons">
                <a class="rem_link_style instagram" href="javascript:void(0)" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="rem_link_style twitter" href="javascript:void(0)" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </p>
        </div>
        <div class="made_by_ting_sec">
            <a href="https://www.ting.in/" target="_blank" class="rem_link_style">
                <div class="foot-right ting-unit-wrap">
                    <div class="made-by-text">
                        <p>made</p>
                        <p>by</p>
                    </div>
                    <img src="img/ting-footer-img.png" class="img-responsive">
                </div>
            </a>
        </div>
    </div> -->
</footer>