<div class="notification_patch"><span class="bold">subscribe & save</span> get 20% off on free shipping</div>
<header class="header">
    <div class="main_header">
        <div class="container-fluid">
            <div class="row_flex">
                <div class="logo_section">
                    <a href="index.php" class="rem_link_style"><img src="img/logo.svg" alt="" class="img-responsive"></a>
                </div>
                <form class="search_form">
                    <input type="text" name="search" placeholder="Search for products" class="search_box">
                    <span class="serach_icon"><i class="fas fa-search"></i></span>
                </form>
                <div class="right_header">
                    <a href="javascript:void(0)"><img class="cart" src="img/sheild.svg"></a>
                    <a href="javascript:void(0)"><img class="cart" src="img/headphone.svg"></a>
                    <a href="tel:917698430406">+91 76984 30406</a>
                    <p class="signin_register"><a href="javascript:void(0)">SIGN IN</a> | <a href="javascript:void(0)">REGISTER</a></p>
                    <a href="javascript:void(0)"><img class="" src="img/user.svg"></a>
                    <a href="javascript:void(0)" class="cart"><img class="cart" src="img/cart.svg"><span class="cart_count">2</span></a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="sub_header">
    <div class="container">
        <div class="sub_links">
            <a href="javascript:void(0)" class="link">SPORTS NUTRITION</a>
            <a href="javascript:void(0)" class="link">SELECT YOUR GOAL</a>
            <a href="javascript:void(0)" class="link">PRE & POST WORKOUT</a>
            <a href="javascript:void(0)" class="link">SALE</a>
            <a href="javascript:void(0)" class="link">REWARDS</a>
            <a href="javascript:void(0)" class="link">LEARN</a>
            <a href="javascript:void(0)" class="link">PARTNER WITH US</a>
        </div>
    </div>
</div>