<div class="mobile_navbar">
    <div id="nav-icon3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <a href="index.php" class="rem_link_style">
        <img src="img/logo.svg" alt="" class="img-responsive navbar_logo">
    </a>
    <a href="javascript:void(0)" class="cart"><img class="cart" src="img/cart.svg"><span class="cart_count">2</span></a>
</div>

<div class="sidebar_wrap">
    <div class="links">
        <p class="link"><a href="index.php"><img src="img/home.svg"></a><a href="javascript:void(0)"><img src="img/close.svg"></a></p>
        <p class="link"><a href="javascript:void(0)">SPORTS NUTRITION</a><img src="img/right_angle.svg"></p>
        <p class="link"><a href="javascript:void(0)">SELECT YOUR GOAL</a><img src="img/right_angle.svg"></p>
        <p class="link"><a href="javascript:void(0)">PRE & POST WORKOUT</a><img src="img/right_angle.svg"></p>
        <p class="link"><a href="javascript:void(0)">SALE</a></p>
        <p class="link"><a href="javascript:void(0)">REWARDS</a></p>
        <p class="link"><a href="javascript:void(0)">LEARN</a></p>
        <p class="link"><a href="javascript:void(0)">PARTNER WITH US</a></p>
        <p class="link"><a href="javascript:void(0)">SIGN IN | REGISTER</a></p>
    </div>
    <div class="offer_box">
        <img src="img/black_plus_img.svg" class="img-responsive transparent_img">
        <img src="img/plus.svg" class="img-responsive green_img">
        <a href="javascript:void(0)"><img src="img/close.svg" class="white_cancel"></a>
        <p class="">GET 10% OFF ON YOUR FIRST ORDER</p>
    </div>
</div>