.authentication {
    .section_title {
        padding-left: 0;
        padding-right: 0;
    }

    .authentication_desc {
        padding: 5% 0 3%;

        .img_text_wrap {
            padding-top: 3%;
            margin-bottom: -200px;
            z-index: 1;
            position: relative;

            @include sm-down {
                margin-bottom: -60px;
            }

            img {
                margin: 0 auto;
            }

            .desc1 {
                text-align: center;
                position: absolute;
                top: 20%;
                left: 5%;

                @include mv-media(992px, 1024px) {
                    top: 18%;
                    left: -2%;
                }

                @include mv-media(max, 991px) {
                    text-align: left;
                    line-height: 1;
                    top: 17%;
                    left: 0;
                }
            }

            .desc2 {
                text-align: center;
                position: absolute;
                top: 30%;
                right: 8%;

                @include mv-media(992px, 1024px) {
                    top: 28%;
                    right: 0%;
                }

                @include mv-media(max, 991px) {
                    top: 20%;
                    right: -3%;
                    line-height: 1;
                }
            }
        }

        .authentication_code_section {
            br {
                @include sm-down {
                    display: none;
                }
            }

            .code_section_bg {
                padding: 3% 0;

                .star_img {
                    position: absolute;
                    position: absolute;
                    top: 31%;
                    right: -75px;
                    z-index: 2;

                    @include mv-media(768px, 991px) {
                        width: 10%;
                    }

                    @include sm-down {
                        width: 10%;
                        right: 7px;
                    }
                }

                .lines_img {
                    position: absolute;
                    left: -40px;
                    z-index: 2;
                    bottom: -100px;

                    @include mv-media(768px, 991px) {
                        width: 7%;
                        bottom: -75px;
                    }

                    @include sm-down {
                        width: 7%;
                        left: 18px;
                        bottom: -24px;

                    }
                }

                .section_clip_big {
                    padding: 18% 0 8%;
                    text-align: center;
                    background: rgb(89, 89, 89);
                    background: linear-gradient(180deg, rgba(89, 89, 89, 1) 0%, rgba(234, 234, 234, 1) 20%, rgba(214, 214, 214, 1) 40%, rgba(210, 210, 210, 1) 60%, rgba(210, 210, 210, 1) 100%);

                    @include mv-media(992px, 1024px) {
                        padding: 22% 8% 8%;
                    }

                    @include mv-media(768px, 991px) {
                        padding: 30% 8% 8%;
                    }

                    .enter_text {
                        margin-top: 30px;
                        margin-bottom: 20px;
                        font-size: 28px;
                        line-height: 1;
                        font-family: Supermolot_Regular;

                        @include sm-down {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            font-size: 14px;
                            line-height: 1;
                        }
                    }

                    .code_wrap_section {
                        padding-left: 12%;
                        padding-right: 12%;
                    }

                    .code_form {
                        .code_input {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;

                            input {
                                text-align: center;
                                width: 11%;
                                height: 92px;
                                border: 0;
                                font-size: 80px;
                                font-family: Supermolot_Regular;
                                line-height: 1;

                                @include mv-media(768px, 991px) {
                                    height: 65px;
                                    font-size: 40px;
                                }

                                @include sm-down {
                                    height: 30px;
                                    font-size: 28px;
                                }

                                &:focus {
                                    outline: none;
                                }
                            }
                        }

                        .header2 {
                            text-align: left;
                        }

                        .input_wrap {
                            margin-top: 5%;
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;

                            @include sm-down {
                                flex-wrap: wrap;
                            }

                            select {
                                background-color: transparent;
                                font-size: 22px;
                                line-height: 26px;
                                font-family: Supermolot_Regular;
                                width: 100%;
                                height: 40px;
                                border: 0;
                                border-bottom: solid 1px #707070;

                                &:focus {
                                    outline: none;
                                }

                                @include sm-down {
                                    font-size: 16px;
                                    line-height: 20px;
                                    height: 24px;
                                }
                            }

                            .input-field {
                                width: 45%;

                                @include sm-down {
                                    width: 100%;
                                    margin-bottom: 45px;
                                    margin-top: 20px;
                                }

                                input {
                                    font-family: Supermolot_Regular;
                                }

                                .placeholder_text {
                                    font-family: Supermolot_Regular !important;
                                }
                            }

                            .btn_div {
                                width: 55%;

                                @include sm-down {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .congratulations {
            padding-top: 3%;

            .congartulations_msg {
                @extend .header2;
                background: $color_primary;
                padding-top: 3%;
                padding-bottom: 3%;
                margin-bottom: 5%;

                a {
                    position: relative;
                    padding-top: 10px;
                    display: inline-block;
                    text-decoration: none;
                    color: inherit;

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        width: 100%;
                        height: 2px;
                        background-color: black;
                    }
                }
            }

            .product_detail {
                padding-left: 8%;
                padding-right: 8%;
                @include sm-down {
                    padding-left: 10px;
                padding-right: 10px;
                }

                .product_detail_text {
                    display: flex;
                    align-items: flex-end;

                    .title {
                        @extend .header2;
                        line-height: 50px;
                        @include sm-down {
                            width: 30%;
                            line-height: 20px;
                        }

                    }

                    .desc {
                        font-size: 28px;
                        line-height: 50px;

                        @include sm-down {
                            width: 70%;
                            text-align: left;
                            padding-left: 10px;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }

            .btn_div {
                margin-top: 5%;
                display: inline-block;
            }
        }

        .error {
            padding-top: 3%;

            .error_msg {
                @extend .header2;
                line-height: 50px;
                background: #EF4025;
                color: white;
                padding: 3% 5%;
                margin-bottom: 5%;
                @include sm-down{
                    line-height: 20px;
                }

                a {
                    padding-top: 10px;
                    display: inline-block;
                    text-decoration: none;
                    color: inherit;
                    @include sm-down{
                        padding-top: 0;
                    }
                }
            }

            .product_detail_text {
                font-size: 28px;
                line-height: 50px;
                font-family: Supermolot_Regular;

                @include sm-down {
                    font-size: 14px;
                    line-height: 20px;
                }

                .bold {
                    font-family: Supermolot_Bold;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }

            .btn_div {
                margin-top: 5%;
                display: inline-block;
            }
        }
    }

    .how_authenticate {
        background-color: $gray_bg;
        padding-top: 5%;
        padding-bottom: 5%;

        .steps_to_authenticate {
            padding-top: 3%;
            display: flex;
            justify-content: space-between;

            @include sm-down {
                flex-wrap: wrap;
            }

            .steps {
                padding-left: 20px;
                width: 50%;

                @include sm-down {
                    width: 100%;
                }

                .bold {
                    font-family: Chivo_Bold;
                }

                li {
                    @extend .body1;
                    margin-bottom: 10px;

                    &:before {
                        color: $color_primary;
                        content: "\2022";
                        /* Add content: \2022 is the CSS Code/unicode for a bullet */
                        /* Change the color */
                        font-weight: bold;
                        /* If you want it to be bold */
                        display: inline-block;
                        /* Needed to add space between the bullet and the text */
                        width: 1em;
                        /* Also needed for space (tweak if needed) */
                        margin-left: -1em;
                        /* Also needed for space (tweak if needed) */
                    }

                    @include sm-down {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}