footer {
    background-color: black;
    padding-top: 3%;
    padding-bottom: 1%;

    @include sm-down {
        padding: 5%;
    }

    .follow_links {
        p {
            color: white;
            font-size: 22px;
            line-height: 27px;
            font-family: Supermolot_Regular;
            padding-right: 30px;

            @include sm-down {
                font-size: 16px;
                line-height: 20px;
                padding-right: 10px;
            }
        }

        a {
            margin-left: 10px;
            margin-right: 10px;
            color: white;
        }
    }

    .logo_contact_section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include sm-down {
            flex-direction: column;
            align-items: flex-start;
        }

        .contact_section {
            display: flex;
            align-items: center;

            @include sm-down {
                display: block
            }

            .join_input {
                width: 35%;

                .join_text {
                    @extend .uppercase;
                    font-size: 22px;
                    line-height: 1;
                    font-family: Chivo_Regular;
                    color: white;
                    padding-right: 30px;

                    @include sm-down {
                        padding-right: 0;
                        padding-bottom: 10px;
                    }
                }
            }

            .form_input {
                width: 65%;
                .green_btn {
                    width: 100%;
                    cursor: unset;
                    padding-left: 30px;
                    font-family: Chivo_Regular;
                    text-transform: lowercase;
                    color: #707070;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background-color: $color_primary;
                        color: #707070;
                    }
                }
            }

            .phone,
            .mail {
                padding-top: 20px;
                padding-bottom: 20px;

                @include sm-down {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                a {
                    font-size: 18px;
                    line-height: 40px;
                    font-family: Chivo_Regular;

                    @include sm-down {
                        font-size: 14px;
                        line-height: 30px;
                    }

                    &:first-child {
                        padding-right: 50px;

                        @include sm-down {
                            padding-right: 0;
                        }
                    }

                    text-decoration: none;
                    color: #979797;

                    .contact_icon {
                        padding-right: 10px;
                        margin-bottom: -5px;
                    }
                }
            }
        }
    }

    .footer_links_section {
        display: flex;
        justify-content: space-between;
        padding-top: 5%;
        padding-bottom: 5%;

        @include sm-down {
            flex-wrap: wrap
        }

        .links_section {
            @include md-down {
                width: 50%;
                margin-bottom: 20px;
            }

            @include sm-down {
                .green_btn {
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background-color: $color_primary;
                        color: #707070;
                    }
                }

                .join_text {
                    text-transform: uppercase;
                    color: white;
                    margin-bottom: 10px;
                }
            }

            .link_heading {
                @extend .uppercase;
                font-size: 28px;
                line-height: 29px;
                font-family: Supermolot_Regular;
                color: white;
                margin-bottom: 20px;

                @include md-down {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }
            }

            .footer_links {
                display: block;
                font-size: 18px;
                line-height: 30px;
                font-family: Chivo_Regular;
                color: #979797;
                text-decoration: none;

                @include md-down {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    .disclaimer {
        .follow {
            padding-left: 3%;
            padding-right: 3%;
            border-top: solid 1px white;
            border-bottom: solid 1px white;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;

            @include sm-down {
                padding-left: 0;
                padding-right: 0;
                flex-direction: column;
                align-items: flex-start;
            }

            .reserved_text {
                font-size: 22px;
                line-height: 27px;
                font-family: Supermolot_Regular;

                @include sm-down {
                    font-size: 16px;
                    line-height: 19px;
                }
            }

            .follow_links {
                display: flex;
                align-items: center;

                @include sm-down {
                    margin: 10px 0;
                }
            }
        }

        .disclaimer_text {
            padding: 3%;
            border-bottom: solid 1px white;

            @include sm-down {
                padding: 3% 0;
            }

            ol {
                list-style: decimal;
                padding-left: 20px;

                li {
                    &:last-child {
                        margin-bottom: 0;
                    }

                    color: #979797;
                    font-size: 18px;
                    line-height: 20px;
                    font-family: Chivo_Regular;
                    margin-bottom: 20px;

                    @include sm-down {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
    }

    .end_footer {
        @include sm-down {
            display: flex;
            justify-content: space-between;

            .follow_links {
                p {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                a {
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }
    }

    .made_by_ting_sec {
        padding-top: 2%;

        .ting-unit-wrap {
            display: flex;
            justify-content: center;
            align-items: center;

            @include md-down {
                text-align: center;
            }

            .made-by-text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                p {
                    color: black;
                    font-family: Chivo_Regular;
                    background-color: $color_primary;
                    margin-bottom: 3px;
                    padding: 2px 8px;
                    border-radius: 3px;
                    letter-spacing: 2px;
                    font-size: 11px;
                    text-transform: uppercase;

                    @include sm-down {
                        font-size: 8px;
                    }
                }
            }

            img {
                display: inline-block;
                vertical-align: middle;
                width: 90px;
                margin-left: 5px;

                @include sm-down {
                    width: 70px;
                }

                &.black-logo {
                    filter: invert(1);
                }
            }
        }
    }
}