.notification_patch {
    @extend .uppercase;
    @extend .text-center;
    background-color: $color_primary;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 34px;
    font-family: Chivo_Regular;

    @include sm-down {
        font-size: 12px;
        line-height: 16px;
    }

    .bold {
        font-family: Chivo_Bold;
    }
}

.header {
    @include sm-down {
        display: none;
    }

    //placeholder color
    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white !important;
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white !important;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: white !important;
    }

    .main_header {
        padding: 20px 5%;
        background-color: black;

        .row_flex {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .search_form {
                position: relative;
                width: 400px;

                @include mv-media(992px, 1024px) {
                    width: 170px;
                }

                .search_box {
                    width: 100%;
                    background-color: transparent;
                    border-style: unset;
                    border-bottom: solid 1px white;
                    color: white;
                    font-size: 17px;
                    line-height: 21px;
                    font-family: Supermolot_Regular;
                    height: 37px;

                    &:focus {
                        outline: none;
                    }
                }

                .serach_icon {
                    position: absolute;
                    right: 0;
                    bottom: 5px;

                    i {
                        color: white;
                    }
                }
            }

            .right_header {
                display: flex;
                align-items: center;

                .signin_register {
                    color: white;

                    a {
                        padding: 0;
                    }
                }

                a {
                    font-size: 16px;
                    line-height: 21px;
                    font-family: Supermolot_Regular;
                    text-decoration: none;
                    padding: 0 15px;
                    color: white;
                    font-weight: 400;
                }

            }
        }
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sub_header::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sub_header {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sub_header {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(175, 175, 175, 1) 20%, rgba(234, 234, 234, 1) 40%, rgba(215, 215, 215, 1) 60%, rgba(255, 255, 255, 1) 80%, rgba(181, 181, 181, 1) 100%);

    @include sm-down {
        display: none;
        // overflow: scroll;
        // white-space: nowrap;
        // position: relative;
        // top: 80px;
        // z-index: 1;
    }

    .sub_links {
        padding: 2% 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include sm-down {
            padding: 2% 0;
        }

        .link {
            font-size: 17px;
            line-height: 34px;
            font-family: Supermolot_Bold;
            text-decoration: none;
            color: black;

            @include sm-down {
                margin: 0 10px;
            }
        }
    }
}