html {
    height: 100%;
    --container_width: 100%;

    @media(min-width:768px) and (max-width: 991px) {
        --container_width: 750px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        --container_width: 970px;
    }

    @media (min-width: 1200px) {
        --container_width: 1170px;
    }

    body {
        height: 100%;
        font-family: $font_text;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0px;

        @include sm-down {
            font-size: 14px;
        }
    }
}

main {
    @include sm-down {
        margin-top: 80px;
    }
}

textarea {
    box-sizing: border-box;
}

select {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    background: #333;
}

/* Track */
::-webkit-scrollbar-track {
    //    box-shadow: inset 0 0 5px grey;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color_primary;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($color_primary, 5%);
}

//placeholder color
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000 !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000 !important;
}

.rem_link_style {
    text-decoration: none !important;
    color: inherit;

    &:hover {
        color: inherit;
    }

    &:active {
        color: inherit;
    }
}

.relative_box {
    position: relative;
    min-height: 1px;
}

.full_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn_project_default {
    font-size: 12px;
    background-image: none;
    border-radius: 0;
    border: 0;
    letter-spacing: 2px;
    padding: 10px 35px;
    margin: 20px;
    box-shadow: none;
    text-shadow: none;
    background-color: $color_primary;
    color: white;
    outline: none !important;
    text-transform: uppercase;

    @media only screen and (max-width: 767px) {
        padding: 8px 18px;
    }

    &:hover {
        background-color: $color_primary;
        color: white;
    }

    &:active {
        background-color: $color_primary;
        color: white;
    }

    &:focus {
        background-color: $color_primary;
        color: white;
    }
}

.loader_overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 1000;

    .loader_spinner {
        position: absolute;
        top: calc(50% - 60px);
        left: calc(50% - 60px);
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-top: 5px solid black;
        border-left: 5px solid gray;
        border-bottom: 5px solid gray;
        border-right: 5px solid gray;
        width: 120px;
        height: 120px;
        animation: spin_360 2s linear infinite;
    }
}

.no_pad {
    padding: 0 !important;
}

.no_marg {
    margin: 0 !important;
}

.rel_y_center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rel_x_center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.rel_xy_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cart {
    position: relative;

    .cart_count {
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 9px;
        line-height: 14px;
        font-family: Supermolot_Bold;
        color: white;
        text-align: center;
        position: absolute;
        right: 5px;
        top: -10px;
        width: 18px;
        height: 18px;
        background-color: #E12F29;
        border-radius: 50%;

        @include sm-down {
            right: -5px;
        }
    }
}

.mobile_navbar {
    display: none;
    position: fixed;
    padding: 15px;
    background-color: black;
    left: 0;
    width: 100%;
    z-index: 101;
    box-shadow: 0px 0px 14px -10px #333;
    height: 80px;

    @include sm-down {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar_logo {
        max-height: 50px;
    }
}

// .mobile_navbar > .open {
//     top: 0 !important;
// }

#nav-icon3 {
    width: 24px;
    height: 18px;
    margin-left: 10px;
    @extend .rel_y_center;
    transition: all 0.5s ease-out;
    cursor: pointer;
    z-index: 100;

    @include sm-up {
        display: none;
    }

    @include sm-down {
        left: 0;
        top: 0px;
        transform: none;
        position: relative;
    }

    span {
        display: block;
        position: absolute;
        height: 2px;
        background-color: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
            width: 100%;
        }

        &:nth-child(2) {
            top: 7px;
            width: 80%;
        }

        &:nth-child(3) {
            top: 7px;
            width: 80%;
        }

        &:nth-child(4) {
            top: 14px;
            width: 60%;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                top: 7px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 7px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

.sidebar_wrap {
    position: fixed;
    width: 75%;
    top: 0;
    left: 0;
    padding: 50px 15px;
    background-color: white;
    // display: flex;
    // align-items: center;
    z-index: 102;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.5s ease-out;
    padding: 0 10px 5%;

    @include sm-up {
        display: none;
    }

    &.open {
        transform: translateX(0%);
    }

    .links {
        display: flex;
        flex-direction: column;
        flex: 1;

        .link {
            border-bottom: solid 1px lightgray;
            padding: 13px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            i {
                font-size: 20px;
            }

            a {
                @extend .rem_link_style;
                font-size: 16px;
                line-height: 18px;
                font-family: Supermolot_Bold;
                text-transform: uppercase;

                .icon {
                    font-size: 20px;
                }
            }
        }
    }

    .offer_box {
        transition: ease all 300ms;
        position: relative;
        margin-top: 10%;
        background-color: black;
        padding: 15% 17%;

        .transparent_img {
            width: 20%;
            position: absolute;
            right: 5px;
            top: -15px;
        }

        .green_img {
            position: absolute;
            left: 5%;
            width: 20%;
            bottom: -30px;
        }

        .white_cancel {
            filter: invert(1);
            position: absolute;
            top: 10px;
            left: 10px;
        }

        p {
            text-align: center;
            font-size: 20px;
            font-family: Supermolot_Bold;
            text-transform: uppercase;
            color: white;
        }
    }
}

#thank-you-msg {
    display: none;
    font-size: 20px;
    color: green;
    font-style: italic;
    font-weight: bold;
}

.input-field label.error {
    bottom: -25px;
    font-size: 16px;
    color: red;
    //    left: unset!important;
    //    right: 15px;
}

.input-field label.error.active {
    bottom: -25px;

    ~.placeholder_text {
        top: -15px;
        font-size: 16px;
        line-height: 18px;

        @include sm-down {
            font-size: 14px;
            line-height: 16px;
        }
    }

}

.input-field {
    position: relative;
    width: 45%;
    margin-bottom: 60px;

    @include sm-down {
        width: 100%;
    }

    label.error {
        font-size: 16px;
        color: red;
        position: absolute;
        left: 0;
        bottom: -25px;
    }

    input {
        background-color: transparent;
        font-size: 22px;
        line-height: 26px;
        font-family: Chivo_Regular;
        width: 100%;
        height: 40px;
        border: 0;
        border-bottom: solid 1px #707070;

        @include sm-down {
            font-size: 18px;
            line-height: 20px;
            height: 20px;
        }

        &.valid {
            ~.placeholder_text {
                top: -15px;
                font-size: 16px;
                line-height: 18px;

                @include sm-down {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }

        &:focus {
            outline: none;

            ~.placeholder_text {
                top: -15px;
                font-size: 16px;
                line-height: 18px;

                @include sm-down {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }

    .placeholder_text {
        transition: ease all 300ms;
        font-size: 22px;
        line-height: 26px;
        font-family: Chivo_Regular;
        position: absolute;
        left: 0;
        top: 0;

        @include sm-down {
            font-size: 16px;
            line-height: 18px;
        }
    }
}

.f_r_aj_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f_r_a_center {
    display: flex;
    align-items: center;
}

.f_r_j_center {
    display: flex;
    justify-content: center;
}

.f_c_aj_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f_c_a_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_c_j_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


//custom classes
:root {
    --clip_space: 15px;
    --clip_space_products: 25px;
    --clip_space_big: 45px;
}

.clip-rect {
    -webkit-clip-path: polygon(0 0, calc(100% - var(--clip_space)) 0, 100% var(--clip_space), 100% 100%, var(--clip_space) 100%, 0 calc(100% - var(--clip_space)));
    clip-path: polygon(0 0, calc(100% - var(--clip_space)) 0, 100% var(--clip_space), 100% 100%, var(--clip_space) 100%, 0 calc(100% - var(--clip_space)));
}

.clip-rect-products {
    -webkit-clip-path: polygon(0 0, calc(100% - var(--clip_space_products)) 0, 100% var(--clip_space_products), 100% 100%, var(--clip_space_products) 100%, 0 calc(100% - var(--clip_space_products)));
    clip-path: polygon(0 0, calc(100% - var(--clip_space_products)) 0, 100% var(--clip_space_products), 100% 100%, var(--clip_space_products) 100%, 0 calc(100% - var(--clip_space_products)));
}

.clip-rect-big {
    -webkit-clip-path: polygon(0 0, calc(100% - var(--clip_space_big)) 0, 100% var(--clip_space_big), 100% 100%, var(--clip_space_big) 100%, 0 calc(100% - var(--clip_space_big)));
    clip-path: polygon(0 0, calc(100% - var(--clip_space_big)) 0, 100% var(--clip_space_big), 100% 100%, var(--clip_space_big) 100%, 0 calc(100% - var(--clip_space_big)));
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.banner {
    position: relative;

    img {
        margin: 0 auto;
    }

    .banner_content {
        @extend .rel_y_center;
        width: 98%;
        @extend .text-center;

        .banner_title {
            font-size: 58px;
            line-height: 58px;
            font-family: Supermolot_Bold;
            text-transform: uppercase;
            color: white;

            @include sm-down {
                font-size: 34px;
                line-height: 34px;
            }
        }
    }
}

.breadcrumbs {
    padding-top: 20px;
    padding-bottom: 20px;

    .breadcrumbs_text {
        font-size: 22px;
        line-height: 20px;
        font-family: Supermolot_Regular;
        text-transform: uppercase;

        @include sm-down {
            font-size: 12px;
            line-height: 16px;
        }

        .icon {
            padding-right: 10px;
        }

        .current {
            font-family: Supermolot_Bold;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }
}

[data-scroll="in"] {
    .section_title {
        &:before {
            width: 100%;
        }
    }
}

.section_title {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 66px;
    line-height: 70px;
    font-family: Supermolot_Black_Italic;
    display: inline-block;
    position: relative;
    z-index: 1;
    @extend .uppercase;

    .transparent_text {
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: transparent;
    }

    @include sm-down {
        font-size: 40px;
        line-height: 38px;
        padding-left: 30px;
        padding-right: 30px;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 10px;
        left: 0;
        width: 0;
        height: 10px;
        background-color: $color_primary;
        transition: ease all 400ms;

        @include sm-down {
            top: 0;
        }
    }
}

.header1 {
    font-size: 66px;
    line-height: 79px;
    font-family: Supermolot_Black_Italic;

    @include sm-down {
        font-size: 37px;
        line-height: 44px;
    }
}

.header2 {
    font-size: 28px;
    line-height: 28px;
    font-family: Supermolot_Bold;

    @include sm-down {
        font-size: 14px;
        line-height: 9px;
    }
}

.header3 {
    font-size: 23px;
    line-height: 20px;
    font-family: Supermolot_Bold;

    @include sm-down {
        font-size: 16px;
        line-height: 23px;
    }
}

.body1 {
    font-size: 22px;
    line-height: 34px;
    font-family: Chivo_Regular;

    @include sm-down {
        font-size: 16px;
        line-height: 23px;
    }
}

.body2 {
    font-size: 18px;
    line-height: 20px;
    font-family: Supermolot_Regular;
}

select::-ms-expand {
    display: none;
}

.dropdown {
    font-size: 23px;
    line-height: 28px;
    font-family: Supermolot_Regular;
    width: 274px;
    height: 53px;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;

    // @extend .clip-rect;
    @include sm-down {
        font-size: 14px;
        line-height: 18px;
        width: unset;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.product_title {
    font-size: 28px;
    line-height: 30px;
    font-family: Supermolot_Bold;
    text-transform: uppercase;

    @include mv-media(768px, 991px) {
        margin-top: 20px;
    }

    @include sm-down {
        margin-top: 20px;
        font-size: 19px;
        line-height: 20px;
    }
}


.section_filter {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

.section_clip {
    @extend .clip-rect-products;
}

.section_clip_big {
    @extend .clip-rect-big;
}

.outside_section_clip {
    padding: 10px;
    background: rgb(187, 186, 186);
    background: linear-gradient(180deg, rgba(187, 186, 186, 1) 0%, rgba(230, 230, 230, 1) 25%, rgba(142, 141, 141, 1) 60%, rgba(190, 190, 190, 1) 80%, rgba(116, 116, 116, 1) 100%);
    @extend .clip-rect-big;
}

.products_list {
    flex-wrap: wrap;
    padding-top: 3%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .slick-dots {
        @include sm-down {
            bottom: 0;
        }
    }

    .product_width {
        width: 32%;
        margin-bottom: 5%;

        @include mv-media(768px, 991px) {
            width: 48%;
        }

        @include sm-down {
            width: 100%;
        }
    }

    .product_item {
        position: relative;
        padding: 30px 50px;
        background-color: white;

        @include mv-media(992px, 1024px) {
            padding: 30px;
        }

        .reviews {
            justify-content: space-around;
        }

        .new_tag {
            position: absolute;
            top: 80px;
            right: -7px;
        }

        .product_title {
            padding-top: 10px;
            @extend .text-center;
        }

        .cost {
            display: flex;
            justify-content: space-around;

            @include sm-down {
                width: 100%;
                margin: 0 auto;
            }

            .strike {
                text-decoration: line-through;
                font-family: Supermolot_Regular;
                font-size: 28px;
                line-height: 28px;

                @include sm-down {
                    font-size: 14px;
                    line-height: 9px;
                }
            }

            .current_price {
                font-family: Chivo_Bold;
                @extend .header2;
            }
        }
    }
}

.radial_overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .3;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(32, 32, 32, 0.71) 100%);
}

.cmn_link {
    font-size: 19px;
    line-height: 20px;
    font-family: Supermolot_Regular;
    text-decoration: none;
    color: inherit;

    .right_arrow {
        padding-left: 10px;
        transition: ease all 300ms;
    }

    &:hover {
        .right_arrow {
            transform: translateX(10px);
        }
    }
}

.similar_btn {
    cursor: pointer;
    font-size: 19px;
    line-height: 20px;
    font-family: Supermolot_Bold;
    text-transform: uppercase;
    width: 270px;
    height: 56px;
    @extend .clip-rect;
    transition: ease all 300ms;

    @include sm-down {
        font-size: 15px;
        line-height: 16px;
        width: 209px;
        height: 40px;
    }
}

.green_btn {
    background-color: $color_primary;
    border: 0;
    @extend .similar_btn;
    transition: ease all 300ms;

    &:hover {
        color: $color_primary;
        background-color: black;
    }
}

.white_btn {
    background-color: white;
    border: 0;
    @extend .similar_btn;

    &:hover {
        border: solid 1px $color_primary;
        background-color: white;
    }
}

.cmn_table {
    width: 100%;
    margin-top: 3%;
    border-collapse: collapse;

    tr {
        @extend .clip-rect;

        &:nth-child(even) {
            background-color: white;
        }

        &:first-child {
            background-color: $color_primary;
        }
    }

    td,
    th {
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: left;
        vertical-align: middle;
        padding-left: 50px;
        @extend .header3;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;

        @include sm-down {
            padding-left: 10px
        }
    }
}

/* Style the buttons inside the tab */
.tab {
    padding-left: calc((100vw - var(--container_width))/2 + 15px);
}

.cmn_btn {
    display: block;
    box-sizing: border-box;
    position: relative;
    background-color: transparent;
    color: #808080;
    font-size: 23px;
    line-height: 25px;
    font-family: Supermolot_Regular;
    min-width: 300px;
    height: 80px;
    float: left;
    border: solid 1px black;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    @include sm-down {
        font-size: 14px;
        line-height: 15px;
        min-width: 180px;
        white-space: nowrap;
        height: 40px;
        margin-right: 20px;
    }

    &:before {
        content: "";
        position: absolute;
        width: 5px;
        left: 20px;
        top: -1px;
        border-right: solid 1px black;
        border-left: solid 1px black;
        height: 80px;
        background-color: $gray_bg;
        -ms-transform: skewX(-10deg);
        /* IE 9 */
        transform: skewX(-10deg);

        @include sm-down {
            width: 3px;
            left: 10px;
            height: 40px;
        }
    }

    &:after {
        content: "";
        position: absolute;
        width: 5px;
        left: 45px;
        top: -1px;
        border-right: solid 1px black;
        border-left: solid 1px black;
        height: 80px;
        background-color: $gray_bg;
        -ms-transform: skewX(-10deg);
        /* IE 9 */
        transform: skewX(-10deg);

        @include sm-down {
            width: 3px;
            left: 20px;
            height: 40px;
        }
    }

    .btn_text {
        padding-left: 65px;
        padding-right: 0px;
        text-align: center;
        display: block;

        @include sm-down {
            padding-left: 40px;
            padding-right: 10px;
        }

        &:after {
            content: "";
            position: absolute;
            box-sizing: border-box;
            width: 15px;
            right: -8px;
            top: -1px;
            height: 80px;
            border-right: solid 1px black;
            border-top: solid 1px black;
            border-bottom: solid 1px black;
            background-color: $gray_bg;
            -ms-transform: skewX(-10deg);
            /* IE 9 */
            transform: skewX(-10deg);

            @include sm-down {
                height: 40px;
            }
        }
    }
}

.tab_item {
    padding-right: 50px;
    min-width: unset;

    @include sm-down {
        padding-right: 25px;
    }

    @include mv-media(768px, 991px) {
        padding-right: 40px;
    }
}

.tab_section {
    background-color: $gray_bg;
    padding-top: 5%;
    padding-bottom: 5%;

    /* Go from zero to full opacity */
    @keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* Style the tab */
    .tab::-webkit-scrollbar {
        opacity: 0;
        height: 0;
    }

    .tab {

        // padding-left: 150px;
        @include mv-media(992px, 1024px) {
            padding-left: 30px;
        }

        @include mv-media(max, 991px) {
            padding-left: 15px;
        }

        .tablinks {

            /* Create an active/current tablink class */
            &.active {
                background-color: $color_primary;
                font-family: Supermolot_Bold;
                color: black;
                border: 0;

                &:before {
                    border: 0;
                    top: 0;
                }

                &:after {
                    border: 0;
                    top: 0;
                }

                .btn_text {
                    &:after {
                        background-color: $color_primary;
                        border: 0;
                        top: 0;
                    }
                }
            }
        }
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 5% 0;
        // -webkit-animation: fadeEffect 1s;
        // animation: fadeEffect 1s;

        .title {
            padding-bottom: 3%;
        }


        &.active {
            display: block;
        }
    }
}

.accordian_item {
    padding-top: 5%;

    .minus {
        display: none;
    }

    .icon {
        float: right;
        transition: ease all 300ms;
    }

    &.active .plus {
        display: none;
    }

    &.active .minus {
        display: block;
    }

    .accordian_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 5%;
        background: rgb(207, 207, 207);
        background: linear-gradient(90deg, rgba(207, 207, 207, 1) 0%, rgba(238, 238, 238, 1) 20%, rgba(198, 198, 198, 1) 40%, rgba(228, 228, 228, 1) 60%, rgba(237, 237, 237, 1) 80%, rgba(152, 152, 152, 1) 100%);
        @extend .clip-rect;
    }

    .accordian_content {
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: left;
        display: none;
    }
}

.slick-prev {
    @include sm-down {
        left: -5px;
    }
}

.slick-next {
    @include sm-down {
        right: -5px;
    }
}

.slick-dots {
    li {
        height: 40px;

        @include sm-down {
            margin: 0 2px;
        }

        button {
            &:before {
                font-size: 16px;
                opacity: 1;
                transition: ease all 300ms;
                bottom: 0;
                top: unset;

                @include sm-down {
                    font-size: 14px;
                }
            }

            &:hover {
                &:before {
                    color: $color_primary;
                }
            }
        }
    }

    .slick-active {
        button {
            &:before {
                opacity: 1 !important;
                color: $color_primary !important;
                height: 40px;
                border-radius: 10px;
                background-color: $color_primary;
            }
        }
    }
}

.enquiry_form {
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin-top: 5%;
    padding: 5% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include sm-down {
        padding: 10%;
        margin-top: 10%;
    }

    .slanting_lines {
        position: absolute;
        bottom: -30px;
        right: 0;
        transform: translateX(50%);

        @include sm-down {
            width: 10%;
        }
    }

    .plus {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);

        @include sm-down {
            width: 10%;
        }
    }

    .company {
        width: 100% !important;
    }

    .btn_div {
        width: 100%;
        text-align: center;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.hidden-md {
    display: none;

    @include sm-down {
        display: block;
    }
}

.hidden-xs {
    display: block;

    @include sm-down {
        display: none !important;
    }
}

.black_bg {
    background-color: black;
    -webkit-clip-path: polygon(0 0, calc(100% - var(--clip_space)) 0, 100% var(--clip_space), 100% 100%, var(--clip_space) 100%, 0 calc(100% - var(--clip_space)));
    clip-path: polygon(0 0, calc(100% - var(--clip_space)) 0, 100% var(--clip_space), 100% 100%, var(--clip_space) 100%, 0 calc(100% - var(--clip_space)));
    padding: 1px;

    .inside_box {
        background-color: white;
        -webkit-clip-path: polygon(0 0, calc(100% - var(--clip_space)) 0, 100% var(--clip_space), 100% 100%, var(--clip_space) 100%, 0 calc(100% - var(--clip_space)));
        clip-path: polygon(0 0, calc(100% - var(--clip_space)) 0, 100% var(--clip_space), 100% 100%, var(--clip_space) 100%, 0 calc(100% - var(--clip_space)));
        // padding: 5%;
    }
}

[data-scroll] {
    transition: all 1s ease-out;
}

[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
}

[data-scroll="out"] {
    opacity: 0;
    transform: translateY(100px);
}